body {
    background-image: url(https://plus.unsplash.com/premium_photo-1726611969494-3e1ca8ae6d05?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    color: white;
    border: 2px solid blanchedalmond;
   
}
ul{
    padding: auto;
    display:flex;
    margin: 12px;
    font-size: 40px; 
}
li{
    margin-left: 20px;
    list-style: none;
}