h1{
    color: red;
}

div{
    height: auto;
    width: auto;
    border: 2px solid blue;
}
article{
    height: 140px;
    width: 140px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 12px;
    border-radius: 50%;
}